<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
        <p>This website uses data from mapbox.com and openweathermap.org </p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>