<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">       <!--- set the icon of the tab --->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
        <p style="color:red;"> Description : <%= message %> </p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>