<!DOCTYPE html>
<html>

<head>
    <title>My Anime List</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
            <p style="color: rgb(37, 37, 87); font-weight: 700;">Showing results of <%= genre_name %> genre </p>
            <ul>
                <%- include('../partials/listedAnimes.ejs') %>
            </ul>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>