<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
            <p> This is the help page. Please email {{username}}</p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>