<html>

<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <p style="color:orangered;">
        <%= message %>
    </p>
    <div style="align-self: center; margin-right: 175px;">
        <form action="/register" method="post">
            <h2 class="h2-title-auth">Register</h2>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="email" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>