<header>
    <h1>
        <%= pageTitle %>
    </h1>
    <a href="/">Home</a>
    <a href="/animelist">Animelist</a>
    <a href="/profile">Profile</a>
    <span style="float: right;">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/logout">Logout</a>
    </span>
</header>