<header>
    <h1>
        <%= pageTitle %>
    </h1>
    <a href="/">Home</a>
    <a href="/animelist">Animelist</a>
    <a href="/user/" + <%=username%> >Profile</a>
    <span style="float: right;">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/logout">Logout</a>
    </span>
    <!-- !post korlam -->
    <form class="search-bar" action="/searchresults" method="post">
        <input class="search-bar" type="text" placeholder="Search for anything" name="search">
        <button type="submit">Search</button>
    </form>
</header>