<header>
    <h1 style="color: rgb(61, 39, 150); font-style: italic;">
        <%= pageTitle %>
    </h1>
    <section id="nav">
        <div class="shundor">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/animelist">Animelist</a>
                    <ul>
                        <li><a href="/searchtags">Tags</a></li>
                        <li><a href="/genre">Genre</a></li>
                        <li><a href="/studio">Studio</a></li>

                    </ul>
                </li>
                <li><a href="/user/" + <%=username%> >Profile</a></li>
                <span style="float: right;">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                </span>
            </ul>
        </div>
    </section>

    <section id="search">
        <!-- !SEARCH -->
        <form class="search-bar" action="/searchresults" method="post">
            <input class="search-bar" type="text" placeholder="Search for anything" name="search">
            <button type="submit">Search</button>
        </form>
    </section>


</header>