<header>
  <h1> <%= pageTitle %> </h1>
  <ul> 
      <li><a href="/">Home</a></li>
      <li><a href="/animelist">Animelist</a>
          <ul>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/genres">Genre</a></li>
            <li><a href="/studios">Studio</a></li>
            <li><a href="/writer">Writer</a></li>
            <li><a href="/year">Year</a></li>
            <li><a href="/release season">Season</a></li>
          </ul>
      </li>
      <li><a href="/user">username</a></li>
  </ul> 
  <br><br> 
    
      
  <span style="float: right;">
          <a href="/login">Login/Signup</a>
  </span>
  <br>
        
  <form class="search-bar" action="/searchresults" method="post" style="text-align: right;">
      <input class="search-bar" type="text" placeholder="Search for anything" name="search">
      <button type="submit">Search</button>
  </form>    
  </header> 
    