<header>
    <p style="text-align: left;">
        <%= "Ekhane username boshbe" %>
    </p>
    <p style="text-align: right;">
      <a href="/login">Login/Signup</a>
    </p>
    
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>

    <h1> <%= pageTitle %> </h1> 
    <a href="/">Home</a>
    <a href="/animelist">Animelist</a>
    <a href="/about">About</a>

    
</header>