<header>
    <p>
        Username
    </p>

    <div class="wrapper">
        <div class="search-input">
          <a href="" target="_blank" hidden></a>
          <input type="text" placeholder="Type to search..">
          <div class="autocom-box">
            <!-- here list are inserted from javascript -->
            
          </div>
          <div class="icon"><i class="fas fa-search"></i></div>
        </div>
      </div>

    <h1> <%= pageTitle %> </h1> 
    <a href="/">Home</a>
    <a href="/animelist">Animelist</a>
    <a href="/about">About</a>
    
</header>