body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;      /* flexbox to stick footer to the bottom */
    flex-direction: column;
    min-height: 100vh;      /* 100% of the screen */
}

footer {
    color : #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.Search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background:cornsilk;
}

/* Style the submit button */
form.Search button {
  float: left;
  width: 20%;
  padding: 10px;
  background:lightcoral;
  color:crimson;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.Search button:hover {
  background:brown;
}

/* Clear floats */
form.Search::after {
  content: "";
  clear: both;
  display: table;
}
#left {
  color: darkgreen;
  float: left;
  text-align: left;
  padding-right: 10px;
}

#center {
  color:crimson;
  text-align: center;
}

#right {
  color: teal;
  float: right;
  text-align:right;
  padding-left: 10px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;  /* removes the underline in links */
}