body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;      /* flexbox to stick footer to the bottom */
    flex-direction: column;
    min-height: 100vh;      /* 100% of the screen */
}

footer {
    color : #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header.wrapper{
    max-width: 50px;
    margin: 50px auto;
  }
  .wrapper .search-input{
    background:rgba(0, 0, 0, 0.089);
    width: 30%;
    /*border-radius: 5px;*/
    position:relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.897);
  }
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;  /* removes the underline in links */
}